.about_div {
  margin: 4rem;
  padding: 2rem;
  border-style: groove;
  border-color: darkgoldenrod;
  margin-left: 12rem;
  margin-right: 48rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem;
  margin-bottom: 3rem;
}

p {
  font-size: 1.5rem;
}
